.homediv{
    background-color: #ebeff2;
    height:900px;  
    display: flex;
    justify-content: space-evenly;
}
.one{
    width:50%;
    height:100% ;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;
}
h1{
    font-size: 60px;
    margin-top: -220px;
    margin-left: 50px;
    position: absolute;
}
.two{
    width: 50%;
    background-color: transparent;
    border-radius: 40px;

}
.emailbutton{
    height:5%;
    width:25%;
    margin-top: 100px;
    margin-left: 50px;
    background-color: #54538a;
    position: absolute;
    border-style: none;
    font-size: 17px;
    font-weight: bolder;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.spann{
    margin-top: 800px;
    margin-left: 50px;
    position: absolute;
    font-size: 20px;
    color:#54538a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: underline;
}
.picture{
    width:100%;
    height:820px;
    border-radius: 100px;
}
.picshift{
    width:auto;
    height:80px;
}

