.parent{
    height:400px;
    width:100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}
.childone{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:center;
}
.h{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color:#54538a;
    position: absolute;
    margin-top: -120px;
}
.spannn{
    font-size: 20px;
    margin-top:0px;
    margin-left: 30px;
    
}
